
<div id="details-container">
  <h3>{{name}}</h3>
  <div id="details-btn-container" class="container">
    <button id="list-btn" class="btn" (click)="hideDetails()"><i class="fa fa-chevron-left"></i> List</button>
    <a [href]="twitterEvent()" [ngClass]="{'ref-disabled': disabled}"><img id="twitter-icon" [src]="twitter_icon_url" ></a>
    <button id="details-favorite-btn" class="btn" [disabled]="disabled" (click)="favoriteButtonHandler()">
      <i *ngIf="!isFavorite()" class="fa fa-star-o favourite-icon"></i>
      <i *ngIf="isFavorite()" id="favorite-start" class="fa fa-star favourite-icon"></i>
    </button>
  </div>
  <div id="details-tabs-container">
    <ul class="nav nav-tabs justify-content-end" id="detail-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab"
           href="#info" role="tab" aria-controls="info" aria-selected="true">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="photos-tab" data-toggle="tab"
           href="#photos" role="tab" aria-controls="photos" aria-selected="false">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="map-tab" data-toggle="tab"
           href="#map" role="tab" aria-controls="map" aria-selected="false">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="reviews-tab" data-toggle="tab"
           href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active"
           id="info"
           role="tabpanel"
           aria-labelledby="info-tab"><app-info [info_data]="model.info_data"></app-info></div>
      <div class="tab-pane"
           id="photos"
           role="tabpanel"
           aria-labelledby="photos-tab"><app-photos [photos]="model.photos_data"></app-photos></div>
      <div class="tab-pane"
           id="map"
           role="tabpanel"
           aria-labelledby="map-tab"><app-map [input_model]="model.map_data"></app-map></div>
      <div class="tab-pane"
           id="reviews"
           role="tabpanel"
           aria-labelledby="reviews-tab"><app-reviews [input_model]="model.reviews_data"></app-reviews></div>
    </div>
  </div>
</div>
<div id="google-map-display" #google_map_section></div>

